<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fewwind.mydesign">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTransparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BaseActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale|screenSize"
            android:label="@string/title_activity_base"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeTransparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <service android:name=".Service.MusicService" />

        <activity
            android:name=".ui.PlayListActivity"
            android:label="@string/title_activity_play_list"
            android:theme="@style/AppThemeTransparent" />

        <receiver android:name=".ui.PlayListActivity$PlayStatusBoradCast">
            <intent-filter>
                <action android:name="send.current.play.status" />
                <action android:name="send.total.duration" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".test.TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".test.FragmentVpActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".test.ZhiHuActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".test.ZhiHu2Activity"
            android:label="@string/title_activity_zhi_hu2"
            android:theme="@style/AppTheme" />
        <activity android:name=".test.AgeSelectActivity"></activity>
    </application>

</manifest>
